{% extends 'base.html.twig' %}

{% block body %}
{{ include('fork_me.html.twig') }}
<div id="#top" class="container">
    <div class="row">
        <div class="content col-sm-9">
            {% block content %}
            {% endblock %}
        </div>
        <div class="side-bar col-sm-3">
            <a id="logo" class="logo" href="{{ path('homepage') }}">
                <img alt="Phpillip" title="Phpillip" src="/phpillip.svg">
            </a>
            <div class="menu">
                {{ render(url('menu')) }}
            </div>
        </div>
    </div>
</div>
<footer class="footer container">
    <a class="back-to-top" href="#top">
        Back to top
    </a>
</footer>
{{ include('analytics.html.twig') }}
{% endblock %}
